{#
/**
 * @file
 * Default theme implementation for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
{{ title_prefix }}

{% if title %}
  <article id="main">
    <header>
      <h2{{ title_attributes }}>{{ title }}</h2>
    </header>
  </article>
{% endif %}
{{ title_suffix }}
            